//importing other scss files

body{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

@import "./header";
@import "./left-panel";

@import "./main-section/campus-tour";
@import "./main-section/main-section";
@import "./main-section/ambassador-and-online-events";
@import "./main-section/brief-description-and-fast-facts";
@import "./main-section/news-achievements-social-media";
@import "./main-section/programme-video";

@import "./footer";

.placeholder{
    position: absolute;
    color: white;
    opacity: 0;
}